---
import Layout from "@layouts/Layout.astro";
---

<Layout
  title="P치gina no encontrada"
  description="Lo sentimos, la p치gina que buscas no existe."
  canonical="https://ailenbraga.com/404"
>
  <section
    class="flex flex-col items-center justify-center w-full h-screen text-center"
  >
    <h1 class="text-6xl font-bold">404 - P치gina no encontrada</h1>
    <p class="text-2xl">Lo sentimos, la p치gina que buscas no existe.</p>
    <a href="/" class="pt-10 font-bold text-xl hover:underline"
      >Volver al inicio</a
    >
  </section>
</Layout>
